<!-- Container-fluid starts-->
<div class="container-fluid" style="padding: 0;">
<div style="height: 1em;"></div>

<h1
style="font: 45px/1 Century, sans-serif; margin-left: 40px; margin-top: 50px; margin-bottom: 25px; font-weight: 200;">
Legal
</h1>

<div style="padding: 2em">
<div class="row">
  <div class="col-xl-4 xl-50 col-sm-4">
    <div class="card bg-primary">
      <div class="card-body">
        <div class="d-flex faq-widgets">
          <div class="flex-grow-1">
            <h5>Laboral</h5>
            <p>Prestamos servicios en todas las áreas de la materia: individual, sindical y relaciones laborales.
            </p>
          </div>
          <app-feather-icons [icon]="'briefcase'"></app-feather-icons>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-4 xl-50 col-sm-4">
    <div class="card bg-primary">
      <div class="card-body">
        <div class="d-flex faq-widgets">
          <div class="flex-grow-1">
            <h5>Corporativo y comercial</h5>
            <p>Proveemos asesoramiento integral en materia comercial, contractual, societaria y concursal</p>
          </div>
          <app-feather-icons [icon]="'globe'"></app-feather-icons>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-4 xl-50 col-sm-4">
    <div class="card bg-primary">
      <div class="card-body">
        <div class="d-flex faq-widgets">
          <div class="flex-grow-1">
            <h5>Litigios</h5>
            <p>Nos especializamos en materia laboral, civil, comercial y ante órganos administrativos.</p>
          </div>
          <app-feather-icons [icon]="'users'"></app-feather-icons>
        </div>
      </div>
    </div>
  </div>



  </div>

  <div class="row">

    <div class="col-xl-4 xl-50 col-sm-4">
      <div class="card bg-primary">
        <div class="card-body">
          <div class="d-flex faq-widgets">
            <div class="flex-grow-1">
              <h5>Administrativo y Regulatorio</h5>
              <p>Asesoramos en procedimientos administrativos tramitados ante diversos órganos gubernamentales.</p>
            </div>
            <app-feather-icons [icon]="'settings'"></app-feather-icons>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-4 xl-50 col-sm-4">
      <div class="card bg-primary">
        <div class="card-body">
          <div class="d-flex faq-widgets">
            <div class="flex-grow-1">
              <h5>Familia y Sucesiones</h5>
              <p>Derecho de Familia, régimen de bienes en el matrimonio y concubinato, y sucesiones.</p>
            </div>
            <app-feather-icons [icon]="'message-square'"></app-feather-icons>
          </div>
        </div>
      </div>
    </div>
  
    <div class="col-xl-4 xl-50 col-sm-4">
      <div class="card bg-primary">
        <div class="card-body">
          <div class="d-flex faq-widgets">
            <div class="flex-grow-1">
              <h5>Capacitaciones</h5>
              <p>Brindamos capacitaciones y talleres prácticos a medida, dirigidos tanto a clientes como a profesionales.</p>
            </div>
            <app-feather-icons [icon]="'trending-up'"></app-feather-icons>
          </div>
        </div>
      </div>
  </div>


</div>
</div>  

<div class="bg-secondary">

<h1
style="font: 45px/1 Century, sans-serif; margin-left: 40px; padding-top: 75px; font-weight: 200;">
Notarial
</h1>

<div style="padding:5em;"><p class="primary" style="font-size: large; font-weight: 200;">Brindamos servicios notariales para la adquisición, enajenación y administración de toda clase de bienes muebles e inmuebles (compraventas, arrendamientos, leasings y otros).

  Asesoramos a desarrolladores e inversores en materia inmobiliaria, urbana y rural, acompañando al cliente en todas las etapas del proyecto o la transacción, brindando la solución notarial y estructura legal más eficiente para su negocio. 
  
  Participamos en la redacción y negociación de contratos, financiamiento de inversiones inmobiliarias, controles y otorgamientos de garantías (hipotecas, prendas, fideicomisos), complementando nuestros servicios con los de especialistas tributarios, con quienes conformamos alianzas estratégicas, brindando soluciones integrales.</p>
</div>

</div>


<div>
<h1
style="font: 45px/1 Century, sans-serif; margin-left: 40px; padding-top: 75px; font-weight: 200;">
Negocios & Inversiones
</h1>

<div style="padding:5em;"><p class="primary" style="font-size: large; font-weight: 200;">Brindamos servicios notariales para la adquisición, enajenación y administración de inmuebles.

  Asesoramos a desarrolladores e inversores en materia inmobiliaria, urbana y rural, acompañando al cliente en todas las etapas del proyecto o la transacción, brindando la solución notarial y estructura legal más eficiente para su negocio. 
  
  Participamos en la redacción y negociación de contratos, financiamiento de inversiones inmobiliarias, controles y otorgamientos de garantías (hipotecas, prendas, fideicomisos), complementando nuestros servicios con los de especialistas tributarios, con quienes conformamos alianzas estratégicas, brindando soluciones integrales.</div>

</div>

<div class="bg-secondary">
  <h1
  style="font: 45px/1 Century, sans-serif; margin-left: 40px; padding-top: 75px; font-weight: 200;">
  Startups
  </h1>
  
  <div style="padding:5em;"><p class="primary" style="font-size: large; font-weight: 200;">Asistimos a emprendedores y trabajamos con startups en los desafíos legales vinculados a las primeras etapas del desarrollo de sus proyectos. Nos centramos en seis desafíos principales:

    Definición de forma jurídica (SA, SAS, SRL, fideicomiso, etc.).
    Acuerdos entre socios (convenio de accionistas o acuerdos comerciales semejantes).
    Contratos con promotores, prestadores de servicios y empleados, según el tipo de emprendimiento.
    Contratos con clientes.
    Protección de la propiedad intelectual de las invenciones (registro de marcas, patentes, etc.) y asistencia para asegurar la privacidad y seguridad para garantizar la supervivencia del proyecto en el mercado.
    Asistencia para la instrumentación de la captación de inversiones necesarias para crecer y/o internacionalizar la empresa.
  </div>






<!-- Feedback Column -->
  <div class="row" style="background-color:#59686f3a;
                padding: 40px;">
    <div style="">
      <div class="row">
        <img src="assets/images/other-images/quotes.png" style="    width: 200px;
        height: 200px;
        position: absolute;
        opacity: 25%;
        top: 0px;
        mix-blend-mode: overlay;" alt="">

        <h1 style="font: 45px/1 Century, sans-serif; margin-top: 35px; font-weight: 200; color: white;">
          Reconocimientos
        </h1>

        <owl-carousel-o [options]="owlcarousel135Options" #homeOwl2>
          <ng-template carouselSlide class="item" [id]="img2.id" *ngFor="let img2 of owlcarousel2">

            <div style=" padding: 50px">
              <div style="font-weight: 300; font-size: 18px;
                  color: white; opacity: 70%">
                {{img2.description}}
              </div>
              <div style="font: 10px/1 Century, 400;
            font-size: 14px; margin-top: 10px;
            color: #d8d8d8; opacity: 70%;">
                {{img2.author}}
              </div>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
  <!-- End Feedback Column -->

  <div class="row">
    <h1
      style="font: 45px/1 Century, sans-serif; margin-left: 40px; margin-top: 50px; margin-bottom: 25px; font-weight: 200;">
      Preguntas Frecuentes
    </h1>
  </div>


  <div style="padding-top:25px;padding-left:40px;padding-right: 40px; margin-bottom: 100px;">
    <app-publication></app-publication>
  </div>

  <div style="padding: 10px; background-color: #59686f3a;">
    <h1 style="font: 45px/1 Century, sans-serif; margin-bottom: 50px; font-weight: 200; color: white;">
      Contáctanos
    </h1>
  <app-contact-form></app-contact-form>
</div>
</div>
<!-- Container-fluid Ends-->