<!-- Container-fluid starts-->
<div class="container-fluid" style="padding: 0;">

  <div style="margin: 5px"></div>

  <!-- Carousel section -->

  <owl-carousel-o [options]="owlcarousel13Options" #homeOwl>
    <ng-template style="width: 100%;" carouselSlide class="item" [id]="img.id" *ngFor="let img of owlcarousel1">
      <img [src]="[img.img]" alt="">
    </ng-template>
  </owl-carousel-o>

  <!-- Page Body -->
  <div style="margin: 0,20px;">


    <!-- Services -->
    <div class="row">
      <div class="col-12">
        
          <h1
            style="font: 45px/1 Century, sans-serif; margin-left: 40px; margin-top: 50px; margin-bottom: 25px; font-weight: 200;">
            Servicios
          </h1>
        

        <div class="row" style="margin-bottom: 40px">
         <app-double-slide-text></app-double-slide-text>
        </div>
      </div>
      <!-- End Services -->
    </div>
  </div>
  <!-- End Page Body -->

  <div style="margin: 60px"></div>

  <!-- Feedback Column -->
  <div class="row" style="background-color:#59686f3a;
                padding: 40px;">
    <div style="">
      <div class="row">
        <img src="assets/images/other-images/quotes.png" style="    width: 200px;
        height: 200px;
        position: absolute;
        opacity: 25%;
        top: 0px;
        mix-blend-mode: overlay;" alt="">

        <h1 style="font: 45px/1 Century, sans-serif; margin-top: 35px; font-weight: 200; color: white;">
          Reconocimientos
        </h1>

        <owl-carousel-o [options]="owlcarousel135Options" #homeOwl2>
          <ng-template carouselSlide class="item" [id]="img2.id" *ngFor="let img2 of owlcarousel2">

            <div style=" padding: 50px">
              <div style="font-weight: 300; font-size: 18px;
                  color: white; opacity: 70%">
                {{img2.description}}
              </div>
              <div style="font: 10px/1 Century, 400;
            font-size: 14px; margin-top: 10px;
            color: #d8d8d8; opacity: 70%;">
                {{img2.author}}
              </div>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
  <!-- End Feedback Column -->

  <div class="row">
    <h1 class="sectionTitle"
      style="font: 45px/1 Century, sans-serif; margin-left: 40px; margin-top: 50px; margin-bottom: 25px; font-weight: 200;">
      Preguntas Frecuentes
    </h1>
  </div>


  <div style="padding-top:25px;padding-left:40px;padding-right: 40px; margin-bottom: 100px;">
    <app-publication></app-publication>
  </div>

  <div style="padding: 2em; margin-bottom: 200px; background-color: #59686f3a;">
    <h1 style="font: 45px/1 Century, sans-serif; margin-bottom: 50px; font-weight: 200; color: white;">
      Contáctanos
    </h1>
  <app-contact-form></app-contact-form>
</div>
</div>
<!-- Container-fluid Ends-->