 <div class="row">
 <!-- Selection Column -->
 <div class="col-4" style="text-align: right; padding: 50px;">
  <nav style="padding-right: 20px;" class="services">
    <ul class="serviceInfoMenu services">
      <li id="li1" class="serviceInfo services active"><a class="services" style="cursor:pointer" (click)="setServiceInfo('li1')">Inversiones</a></li>
      <li id="li2" class="serviceInfo services"><a class="services" style="cursor:pointer" (click)="setServiceInfo('li2')" >Legal</a></li>
      <li id="li3" class="serviceInfo services"><a class="services" style="cursor:pointer" (click)="setServiceInfo('li3')">Notarial</a></li>
      <li id="li4" class="serviceInfo services"><a class="services" style="cursor:pointer" (click)="setServiceInfo('li4')">Startup</a></li>
    </ul>
  </nav>
</div>

<!-- End Selection Column -->
<!-- Description Column -->
<div class="col-8" style="border-left:5px; border-color:#7e6c4e;background-color:#c8c6b0;border-left: solid;
border-width: thick; padding: 40px; display: table;">
  <div style="display: table-cell; vertical-align: middle;">
    <p id='textBoxTitle' style="font: 35px/1 Century, sans-serif;
  font-size: 21px; padding-bottom:20px;
  color: #343b43;"> Inversiones </p>
    <p id="textBoxInfo" style="font: 10px/1 Century, sans-serif;
  font-size: 18px;
  color: #343b43; opacity: 70%;">
      Asesoramos en fusiones y adquisiciones (M&A), intermediando en negocios de compraventa de acciones,
      joint
      ventures y fusiones y escisiones empresariales, cubriendo las diferentes etapas jurídicas (auditorías y
      procesos de due diligence, financiación, contratos involucrados, etc.).
    </p>
  </div>
</div>
<!-- End Description Column -->

</div>