* {margin: 0; padding: 0;}

.menu nav {
  margin-right: 20px !important;
}

.menu ul {
  overflow: visible;
  list-style-type: none;
}

.services ul {
    overflow: visible;
    list-style-type: none;
  }

.menu li {
  height: 20px;
  float: right;
  margin-right: 0px;
  border-left: 1px solid #aaa;
  padding: 0 20px;
}

.services li {
    height: 20px;
    margin-right: 0px;
    margin-bottom: 10px;
    border-left: 1px solid #aaa;
    padding: 0 20px;
  }

.services li {
    display: block;
    margin-bottom: 30px;
  }

.menu li:last-child {
  border-left: none;
}

.menu li a {
  text-decoration: none;
  color: #ccc;
  font: 25px/1 Century, sans-serif;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
}

.services li a {
    text-decoration: none;
    color: #ccc;
    font: 25px/1 Century, sans-serif;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease;
  }

.menu li a:hover {
  color: #666;
}

.menu li.active a {
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.services li a:hover {
  color: #666;
}

.services li.active a {
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.accordion-item{
  border:none;
}