 <div class="row">
 <!-- Selection Column -->
 <div class="col-4 servicesOptions" style="text-align: right; align-self: center;">
  <nav style="" class="services">
    <ul class="serviceInfoMenu services">
      <li id="li2" class="serviceInfo services"><a class="services" style="cursor:pointer" (click)="setServiceInfo('li2')" >Legal</a></li>
      <li id="li4" class="serviceInfo services"><a class="services" style="cursor:pointer" (click)="setServiceInfo('li4')">Contable</a></li>
      <li id="li1" class="serviceInfo services active"><a class="services" style="cursor:pointer" (click)="setServiceInfo('li1')">Emprendedurismo</a></li>
      <li id="li5" class="serviceInfo services"><a class="services" style="cursor:pointer" (click)="setServiceInfo('li5')">Cooperativismo</a></li>
    </ul>
  </nav>
</div>

<!-- End Selection Column -->
<!-- Description Column -->
<div class="col-8 servicesOptions" style="border-left:5px; border-color:#7e6c4e;background-color:#59686f3a;border-left: solid;
border-width: thick; padding: 2em; display: table;">
  <div [@simpleFadeAnimation]=transition (@simpleFadeAnimation.done)="handleDone($event)" style="display: table-cell; vertical-align: middle;">
    <p id='textBoxTitle' style="font: 35px/1 Century, sans-serif;
  font-size: 21px; padding-bottom:20px;
  color: #ffffff;"> Emprendedurismo </p>
    <p id="textBoxInfo" style="
  color: #ffffff; opacity: 70%;">
      Asesoramos a todas las personas en las formas legales de emprender. Intermediando en diversas operaciones.
    </p>
  </div>
</div>
<!-- End Description Column -->

</div>