<div class="container-fluid">
  <div class="row" style="padding-left: 2em; padding-right: 2em">
    <div class="col-sm-12">
      <div class="blog-single">
        <div class="blog-box blog-details" style="margin-top:2em">
          <img
            class="img-fluid w-100"
            src="assets/images/blog/blog-single.png"
            alt="blog-main"
          />
          <div class="blog-details">
            <ul class="blog-social">
              <li class="digits blog-info">25 July 2018</li>
              <li class="blog-info">
                <i class="icofont icofont-user"></i>Mark <span>Jecno </span>
              </li>
              <li class="digits blog-info">
                <i class="icofont icofont-thumbs-up"></i>02<span>Hits</span>
              </li>
              <li hidden class="digits">
                <i class="icofont icofont-ui-chat"></i>598 Comments
              </li>
            </ul>
            <h4 class="sectionTitle" style="font-size: 25px">
              Consejos para proteger su patrimonio familiar
            </h4>
            <div
              class="single-blog-content-top"
              
            >
              <p style="
              font-weight: 400;
              font-size: 19px;
              color: white;
              opacity: 80%;
            ">
                Como abogados especializados en derecho de familia, vemos muchos
                casos en los que las personas no han tomado medidas adecuadas
                para proteger su patrimonio familiar. Esto puede resultar en
                conflictos y divisiones familiares que podrían haberse evitado
                con un poco de planificación y previsión. Por eso, queremos
                compartir algunos consejos para ayudar a proteger su patrimonio
                familiar y evitar problemas en el futuro.
                <br>
                <br>
                <img src="/assets/images/blog/patrimonio.png" style="max-width: 100%">
                <br>
                <br>
                <b>Crear un testamento:</b>
                El testamento es un documento legal en el que se especifica cómo
                se desea distribuir su patrimonio después de su muerte. Si no
                tiene un testamento, su patrimonio será distribuido de acuerdo
                con las leyes estatales, lo que puede no ser lo que realmente
                desea. 
                <br>
                <br>

                <b>Planificar la sucesión de negocios: </b>
                Si tiene un negocio,
                es importante tener un plan para su sucesión en el futuro. Esto
                incluye designar a un sucesor y asegurarse de que se haya
                llevado a cabo la planificación fiscal y legal adecuada.
                <br>
                <br>

                <b>Considerar los acuerdos prematrimoniales: </b>
                
                Si está pensando en
                casarse, es una buena idea considerar un acuerdo prematrimonial.
                Estos acuerdos establecen las reglas para la distribución de
                bienes en caso de divorcio o muerte y pueden ayudar a proteger
                su patrimonio. 
                <br>
                <br>

                <b>Realizar un seguro de vida: </b> El seguro de vida
                puede ayudar a proteger su patrimonio y asegurar que sus seres
                queridos estén cubiertos en caso de su muerte. 
                <br>
                <br>

              <b>Hablar con un abogado:</b> Si tiene preguntas sobre cómo proteger su patrimonio,
                hable con un abogado especializado en derecho de familia.
                Nosotros estamos aquí para ayudarlo y asegurarnos de que sus
                bienes estén protegidos. 
                <br>
                <br>

                En resumen, la protección de su
                patrimonio familiar es una parte importante de su planificación
                financiera y familiar. Tomar medidas adecuadas para proteger su
                patrimonio puede ayudar a evitar conflictos y problemas en el
                futuro. 
                <br>
                <br>

                Si tiene preguntas o necesita asesoramiento, no dude en
                ponerse en contacto con nosotros. Estamos aquí para ayudarlo.
              </p>
            </div>
          </div>
        </div>
        <div style="height: 10em"></div>
        <section hidden class="comment-box">
          <h4>Comment</h4>
          <hr />
          <ul>
            <li>
              <div class="media align-self-center">
                <img
                  class="align-self-center"
                  src="assets/images/blog/comment.jpg"
                  alt="Generic placeholder image"
                />
                <div class="flex-grow-1">
                  <div class="row">
                    <div class="col-md-4">
                      <h6 class="mt-0">Jolio Mark<span> ( Designer )</span></h6>
                    </div>
                    <div class="col-md-8">
                      <ul class="comment-social float-start float-md-end">
                        <li class="digits">
                          <i class="icofont icofont-thumbs-up"></i>02 Hits
                        </li>
                        <li class="digits">
                          <i class="icofont icofont-ui-chat"></i>598 Comments
                        </li>
                      </ul>
                    </div>
                  </div>
                  <p>
                    There are many variations of passages of Lorem Ipsum
                    available, but the majority have suffered alteration in some
                    form, by injected humour, or randomised words which don't
                    look even slightly believable. If you are going to use a
                    passage of Lorem Ipsum, you need to be sure there isn't
                    anything embarrassing hidden in the middle of text.
                  </p>
                </div>
              </div>
            </li>
            <li>
              <ul>
                <li>
                  <div class="media">
                    <img
                      class="align-self-center"
                      src="assets/images/blog/9.jpg"
                      alt="Generic placeholder image"
                    />
                    <div class="flex-grow-1">
                      <div class="row">
                        <div class="col-xl-12">
                          <h6 class="mt-0">
                            Jolio Mark<span> ( Designer )</span>
                          </h6>
                        </div>
                      </div>
                      <p>
                        There are many variations of passages of Lorem Ipsum
                        available, but the majority have suffered alteration in
                        some form, by injected humour, or randomised words which
                        don't look even slightly believable. If you are going to
                        use a passage of Lorem Ipsum, you need to be sure there
                        isn't anything embarrassing hidden in the middle of
                        text.
                      </p>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
            <li>
              <div class="media">
                <img
                  class="align-self-center"
                  src="assets/images/blog/4.jpg"
                  alt="Generic placeholder image"
                />
                <div class="flex-grow-1">
                  <div class="row">
                    <div class="col-md-4">
                      <h6 class="mt-0">Jolio Mark<span> ( Designer )</span></h6>
                    </div>
                    <div class="col-md-8">
                      <ul class="comment-social float-start float-md-end">
                        <li class="digits">
                          <i class="icofont icofont-thumbs-up"></i>02 Hits
                        </li>
                        <li class="digits">
                          <i class="icofont icofont-ui-chat"></i>598 Comments
                        </li>
                      </ul>
                    </div>
                  </div>
                  <p>
                    There are many variations of passages of Lorem Ipsum
                    available, but the majority have suffered alteration in some
                    form, by injected humour, or randomised words which don't
                    look even slightly believable. If you are going to use a
                    passage of Lorem Ipsum, you need to be sure there isn't
                    anything embarrassing hidden in the middle of text.
                  </p>
                </div>
              </div>
            </li>
            <li>
              <div class="media">
                <img
                  class="align-self-center"
                  src="assets/images/blog/12.png"
                  alt="Generic placeholder image"
                />
                <div class="flex-grow-1">
                  <div class="row">
                    <div class="col-md-4">
                      <h6 class="mt-0">Jolio Mark<span> ( Designer )</span></h6>
                    </div>
                    <div class="col-md-8">
                      <ul class="comment-social float-start float-md-end">
                        <li class="digits">
                          <i class="icofont icofont-thumbs-up"></i>02 Hits
                        </li>
                        <li class="digits">
                          <i class="icofont icofont-ui-chat"></i>598 Comments
                        </li>
                      </ul>
                    </div>
                  </div>
                  <p>
                    There are many variations of passages of Lorem Ipsum
                    available, but the majority have suffered alteration in some
                    form, by injected humour, or randomised words which don't
                    look even slightly believable. If you are going to use a
                    passage of Lorem Ipsum, you need to be sure there isn't
                    anything embarrassing hidden in the middle of text.
                  </p>
                </div>
              </div>
            </li>
            <li>
              <div class="media">
                <img
                  class="align-self-center"
                  src="assets/images/blog/14.png"
                  alt="Generic placeholder image"
                />
                <div class="flex-grow-1">
                  <div class="row">
                    <div class="col-md-4">
                      <h6 class="mt-0">Jolio Mark<span> ( Designer )</span></h6>
                    </div>
                    <div class="col-md-8">
                      <ul class="comment-social float-start float-md-end">
                        <li class="digits">
                          <i class="icofont icofont-thumbs-up"></i>02 Hits
                        </li>
                        <li class="digits">
                          <i class="icofont icofont-ui-chat"></i>598 Comments
                        </li>
                      </ul>
                    </div>
                  </div>
                  <p>
                    There are many variations of passages of Lorem Ipsum
                    available, but the majority have suffered alteration in some
                    form, by injected humour, or randomised words which don't
                    look even slightly believable. If you are going to use a
                    passage of Lorem Ipsum, you need to be sure there isn't
                    anything embarrassing hidden in the middle of text.
                  </p>
                </div>
              </div>
            </li>
          </ul>
        </section>
      </div>
    </div>
  </div>
</div>
