<!-- Container-fluid starts-->
<div class="container-fluid" style="padding: 0;">


  <hr>
  <div class="row">
    <div class="col-4" style="text-align: center;">
      <img src="assets/images/logo/logo.png" style="max-height: 100px;" alt="">
    </div>
    <div class="col-8" style="align-self: center;">
      <nav style="margin-right: 20px;" class="menu">
        <ul class="menu">
          <li class="menu active"><a href="#">Home</a></li>
          <li class="menu"><a href="#">About</a></li>
          <li><a class="menu" href="#">Portfolio</a></li>
          <li><a class="menu" href="#">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <div style="margin: 5px"></div>

WADOAWDOWAKD
kawd
AWDKOOKW
DKAWDK
AWKD
AWKDKAWO
DK
AWKDAWKDAWKDKAW
DK
  <router-outlet></router-outlet>

 
</div>
<!-- Container-fluid Ends-->