

.menu nav {
  margin-right: 20px !important;
}

.menu ul {
  overflow: visible;
  list-style-type: none;
}

.services ul {
    overflow: visible;
    list-style-type: none;
  }

.menu li {
  height: 20px;
  float: right;
  margin-right: 0px;
  border-left: 1px solid rgb(138, 138, 138);
  padding: 0 20px;
}

.services li {
    height: 20px;
    margin-right: 0px;
    margin-bottom: 10px;
    border-left: 1px solid #aaa;
    padding: 0 20px;
  }

.services li {
    display: block;
    margin-bottom: 30px;
  }

.menu li:last-child {
  @media only screen and (max-width: 1000px){
    border-left: 1px solid #aaa !important;
  }
  @media only screen and (min-width: 1000px){
    border-left: none;
  }
}
.menu li a {
  text-decoration: none;
  color: rgb(156, 156, 156);
  font: 25px/1 Century, sans-serif;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
}

.services li a {
    text-decoration: none;
    color: rgb(180, 180, 180);
    font: 25px/1 Century, sans-serif;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease;
  }

.menu li a:hover {
  color: rgb(216, 216, 216);
}

.menu li.active a {
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.services li a:hover {
  color: rgb(226, 226, 226);
}

.services li.active a {
  font-weight: bold;
  color: rgb(202, 202, 202);
}

.accordion-item{
  border:none;
}

.flexibleMenu {
  @media only screen and (max-width: 1000px){
    display: grid;
    height: 15em;
  }
}

.flexibleHeader{
  @media only screen and (max-width: 1000px){
    display: block;
  }
}