<div class="card bg-secondary">
    <form class="form theme-form">
        <div class="card-body">
            <div class="row">
                <div class="col">
               
                    <div class="form-group">
                        <label for="exampleFormControlInput20">Dirección de Email</label>
                        <input type="email" class="form-control" id="exampleFormControlInput20"
                            placeholder="name@example.com">
                    </div>
                </div>
                <div class="col">
                <div class="form-group">
                    <label for="exampleFormControlInput20">Nombre Completo</label>
                    <input type="text" class="form-control" id="exampleFormControlInput20"
                        placeholder="Nombre Completo">
                </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                    <label>Teléfono de Contacto</label>
                    <div class="col">
                        <input class="form-control m-input digits" type="tel" value="91-(999)-999-999">
                    </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <label for="exampleFormControlInput20">Asunto</label>
                        <input type="text" class="form-control" id="exampleFormControlInput20"
                            placeholder="Asunto">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group mb-0">
                        <label for="exampleFormControlTextarea25">Contenido</label>
                        <textarea class="form-control " id="exampleFormControlTextarea25"
                            rows="3"></textarea>
                    </div>
                </div>
            </div>

        </div>
        <div class="card-footer bg-secondary">
            <button type="submit" class="btn btn-primary me-1">Enviar</button>
        </div>
    </form>
</div>