<div class="card-body">
  <ngb-accordion #acc="ngbAccordion">
    <ngb-panel [id]="'toggle-1' + i "  *ngFor="let question of faq; let i = index">
      <ng-template ngbPanelTitle>
        <div>
          <!-- <app-feather-icons [icon]="'help-circle'"></app-feather-icons> -->
          <p style="font: 10px/1 Century, sans-serif;
          font-size: 18px; font-weight: 300; margin-top: 10px;
          color: white; ">{{question.title}}</p></div>
      </ng-template>
      <ng-template ngbPanelContent>
        <p style="font: 10px/1 Century, sans-serif;
        font-size: 18px; font-weight: 300; margin-top: 10px;
        color: rgb(204, 204, 204); opacity: 80%;">{{question.response}}</p>
      </ng-template>
    </ngb-panel>

  </ngb-accordion>

</div>